.catalog-page-main__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  padding: 27px @padding-mobile 41px;
}

@media (min-width: @tablet-width) {
  .catalog-page-main__heading {
    font-size: 60px;
    line-height: 60px;
    padding: 54px @padding-tablet 0;
    margin-bottom: 164px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-page-main {
    padding-top: 188px;
  }

  .catalog-page-main__heading {
    padding: 0 @padding-desktop;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}
