.catalog__link {
  text-decoration: none;
  color: @additional-darker-grey;
}

.catalog__subheading {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  width: 76px;
  margin-bottom: 14px;
}

.catalog__item {
  padding: 19px @padding-mobile 25px;
  border-top: 1px solid @additional-grey-2;
}

.catalog__link--image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.catalog__product-image--small {
  margin-bottom: 5px;
}

.catalog__item-description-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}

.catalog__value-list {
  color: @additional-dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__order-button {
  color: @basic-white;
  background-color: @basic-green;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
  .green-button();
}

@media (min-width: @tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 @padding-tablet;
    margin-bottom: 68px;
  }

  .catalog__item {
    width: 324px;
    height: 430px;
    text-align: center;
    box-sizing: border-box;
    background-color: @basic-grey;
    padding: 161px 37px 40px 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: none;
    margin-bottom: 141px;
    margin-right: 60px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 0;
  }

  .catalog__item-description-block {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .catalog__product-image {
    position: absolute;
    top: -205px;
    left: 40px;
  }

  .catalog__product-image--small {
    width: 162px;
    height: 172px;
    left: 43px;
    margin-bottom: 0;
  }

  .catalog__product-image--large {
    width: 168px;
    height: 203px;
    top: -235px;
  }

  .catalog__link--text {
    display: flex;
    justify-content: center;
  }

  .catalog__subheading {
    width: 150px;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 5px;
  }

  .catalog__item:nth-last-child(2),
  .catalog__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: @tablet-additional-catalog-width) {
  .catalog__item:nth-child(2n) {
    margin-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    padding: 0 @padding-desktop;
    max-width: 1440px;
    margin: 0 auto 75px;
  }

  .catalog__item {
    width: 245px;
    min-height: 431px;
    margin-right: 80px;
    margin-bottom: 143px;
  }

  .catalog__product-image {
    left: 0;
  }

  .catalog__product-image--small {
    top: -215px;
    left: 5px;
  }

  .catalog__product-image--large {
    top: -240px;
    width: 172px;
    height: 199px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
