.catalog__link {
  text-decoration: none;
  color: @additional-darker-grey;
}

.catalog__subheading {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog__value-list {
  color: @additional-dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog__order-button {
  color: @basic-white;
  background-color: @basic-green;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 0px;
}
