.cooperation-block {
  background-color: @basic-grey;
}

.cooperation-block__text {
  color: @additional-black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation-block__address {
  color: @additional-dark-grey;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
