.example-block {
  background-color: @additional-grey;
  padding: 27px @padding-mobile 35px;
}

.example-block__heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 33px;
}

.example-block__text {
  font-family: "Arial", sans-serif;
  color: @additional-dark-grey;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 25px;
}

.example-block__expenses {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example-block__slider-example {
  position: relative;
}

.example-block__image-before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -159px;
  width: 311px;
  height: 232px;
  background: url("../img/index/before-mobile.png") no-repeat 50%;
}

.example-block__image-after {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -122px;
  width: 251px;
  height: 240px;
  background: url("../img/index/after-mobile.png") no-repeat 50%;
}

@media (min-resolution: 2dppx) {
  .example-block__image-before {
    background-image: url("../img/index/before-mobile@2x.png");
    background-size: 311px auto;
  }

  .example-block__image-after {
    background-image: url("../img/index/after-mobile@2x.png");
    background-size: 251px auto;
  }
}

.example-block__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 265px 30px 0 35px;
  margin: 0 auto;
  position: relative;
}

.example-block__before,
.example-block__after {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.example-block__scale {
  min-width: 84px;
  height: 14px;
  background-color: @basic-white;
  border: 1px solid @additional-grey-3;
  border-radius: 6px;
  padding: 3px 5px;
  margin: 0 17px;
}

.example-block__bar {
  width: 50%;
  height: 100%;
  background-color: @basic-green;
  border-radius: 6px;
}

@media (min-width: @tablet-width) {
  .example-block {
    background-color: @basic-white;
    border-top: 1px solid @additional-grey-4;
    padding: 0;
    padding-top: 43px;
  }

  .example-block__container {
    padding: 0 @padding-tablet;
  }

  .example-block__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 65px;
    margin-left: 30px;
  }

  .example-block__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
    width: 100%;
  }

  .example-block__slider-example {
    transform: translateY(-190px);
    z-index: 1;
  }

  .example-block__image-before {
    width: 354px;
    height: 620px;
    margin-left: -355px;
    background-image: url("../img/index/before-tablet.png");
  }

  .example-block__image-after {
    display: block;
    width: 354px;
    height: 607px;
    top: 7px;
    margin-left: -1px;
    background-image: url("../img/index/after-tablet.png");
  }

  @media (min-resolution: 2dppx) {
    .example-block__image-before {
      background-image: url("../img/index/before-tablet@2x.png");
      background-size: 354px auto;
    }

    .example-block__image-after {
      background-image: url("../img/index/after-tablet@2x.png");
      background-size: 354px auto;
    }
  }

  .example-block__slider {
    background-color: @additional-grey;
    padding: 362px 100px 70px 100px;
    justify-content: center;
  }

  .example-block__before,
  .example-block__after {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dashed @black-transparent;
    z-index: 1;

    &:hover {
      border-bottom: 1px solid @black-transparent;
      cursor: pointer;
    }

    &:active {
      border: none;
      margin-top: -1px;
    }
  }

  .example-block__scale {
    min-width: 428px;
    height: 6px;
    background-color: @additional-grey-6;
    border: none;
    position: relative;
    margin-right: 21px;
    margin-left: 23px;
    z-index: 1;
  }

  .example-block__bar {
    display: none;
  }

  .example-block__toggle {
    position: absolute;
    top: -12px;
    left: 46%;
    width: 34px;
    height: 34px;
    background-color: @basic-white;
    border: 1px solid @additional-grey-3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 1px 3px @toggle-shadow-color);

    &:hover {
      filter: drop-shadow(0 2px 4px @toggle-shadow-color-hover);
    }

    &:active {
      filter: drop-shadow(0 3px 5px @toggle-shadow-color-active);
      border: 1px solid @basic-green;
    }
  }

  .example-block__toggle::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: @basic-green;
  }
}

@media (min-width: @desktop-width) {
  .example-block {
    background-color: @basic-grey;
    border: 0;
    padding: 0;
    position: relative;
    margin-top: 236px;
  }

  .example-block__main-container {
    display: flex;
    justify-content: center;
    min-height: 462px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background-color: #eaeaea;
      width: calc(50% - 322px);
    }
  }

  .example-block__container {
    padding: 70px 30px 70px 110px;
    width: 1045px;
  }

  .example-block__heading {
    position: absolute;
    top: -136px;
    left: 50%;
    margin: 0 0 0 -610px;
  }

  .example-block__text {
    margin: 0 0 69px;
    width: 436px;
  }

  .example-block__slider-container {
    background-color: @additional-grey;
    position: relative;
    width: 395px;
  }

  .example-block__image-before {
    width: 405px;
    height: 536px;
    top: -5px;
    margin-left: -563px;
    background-image: url("../img/index/before-desktop.png");
  }

  .example-block__image-after {
    width: 325px;
    height: 654px;
    top: 0;
    margin-left: -198px;
    background-image: url("../img/index/after-desktop.png");
  }

  @media (min-resolution: 2dppx) {
    .example-block__image-before {
      background-image: url("../img/index/before-desktop@2x.png");
      background-size: 405px auto;
    }

    .example-block__image-after {
      background-image: url("../img/index/after-desktop@2x.png");
      background-size: 325px auto;
    }
  }

  .example-block__slider {
    padding: 0;
    position: absolute;
    top: 364px;
    left: -285px;
    background-color: transparent;
  }
}
