.explaining-block__heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.explaining-block__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @additional-dark-grey;
}

@media (min-width: @tablet-width) {
  .explaining-block__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .explaining-block__list {
    display: flex;
  }
}
