.extra-products {
  border-top: 1px solid @additional-grey-2;
  padding-top: 25px;
}

.extra-products__heading {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 25px;
}

.extra-products__subheading {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: @additional-darker-grey;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.extra-products__value-list {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @additional-dark-grey;
  display: flex;
  justify-content: space-between;
}

.extra-products__order-button {
  margin-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .extra-products__item-description-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .extra-products__subheading {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .extra-products__container {
    display: flex;
  }

  .extra-products__list {
    margin-right: 80px;
  }
}
