.form {
  color: @additional-dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__heading {
  color: @basic-black;
  text-transform: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  position: relative;
}

.form__block {
  padding: 0 @padding-mobile;
}

.form__block--cat-info {
  border-bottom: 1px solid @additional-grey-5;
  padding-top: 25px;
  padding-bottom: 23px;
}

.form__item--text-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  padding: 0;
}

.form__label--text-input {
  margin-right: 13px;
}

.form__input--text-input {
  height: 45px;
  flex-grow: 1;
  padding-left: 16px;
  border: 1px solid @additional-grey-7;
  color: @additional-dark-grey;
  outline: none;

  &:hover {
    border-color: @additional-grey-3;
  }

  &:focus {
    outline: 2px solid @additional-dark-grey;
    outline-offset: -2px;
  }
}

.form__input--text-input.form__input--error {
  outline: 2px solid @basic-red;
  outline-offset: -2px;
}

.form__item--text-input:last-child {
  margin-bottom: 0;
}

.form__block--program {
  padding-top: 28px;
  padding-bottom: 24px;
}

.form__item--radio {
  margin-bottom: 25px;
  position: relative;

  &:hover {
    .form__radio + .form__radio-block {
      border-color: @additional-grey-8;
    }
  }

  &--disabled {
    opacity: 0.3;
  }
}

.form__label--radio {
  padding-left: 45px;
  display: block;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.form__radio + .form__radio-block {
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid @additional-grey-3;
  border-radius: 50%;
}

.form__radio:checked + .form__radio-block::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: @basic-green;
  border-radius: 50%;
}

.form__item--radio:last-child {
  margin-bottom: 0;
}

.form__heading-block {
  display: flex;

  &::after {
    content: "";
    height: 2px;
    margin-top: 15px;
    flex-grow: 1;
    background-color: @basic-green;
  }
}

.form__heading--green-line {
  padding-left: 20px;
  margin-right: 20px;
  box-sizing: content-box;
}

.form__block--user-info {
  padding: 0;
  padding-top: 26px;
  margin-bottom: 24px;
}

.form__heading--user-info {
  margin-bottom: 35px;
  width: 187px;
}

.form__list--user-info {
  padding: 0 @padding-mobile;
}

.form__input-block {
  flex-grow: 1;
  position: relative;

  .form__input {
    width: 100%;
    border-color: @additional-grey-3;
  }

  .form__input-icon {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.form__input-icon--need-stroke {
  fill: none;
  stroke: @additional-darker-grey;
}

.form__input-icon--need-fill {
  stroke: none;
  fill: @additional-darker-grey;
}

.form__input:focus + .form__input-icon--need-stroke {
  stroke: @basic-green;
}

.form__input:focus + .form__input-icon--need-fill {
  fill: @basic-green;
}

.form__input--error + .form__input-icon--need-stroke {
  stroke: @basic-red;
}

.form__input--error + .form__input-icon--need-fill {
  fill: @basic-red;
}

.form__block--comment {
  padding: 0;
  margin-bottom: 21px;
}

.form__heading--comment {
  margin-bottom: 38px;
}

.form__comment-block {
  padding: 0 @padding-mobile;
}

.form__comment {
  border: 1px solid @additional-grey-7;
  color: @additional-dark-grey;
  width: 100%;
  height: 150px;
  padding-top: 9px;
  padding-left: 15px;
}

.form__block--extra {
  padding: 0;
  margin-bottom: 39px;
}

.form__heading--extra {
  margin-bottom: 39px;
}

.form__list--extra {
  padding: 0 @padding-mobile;
}

.form__item--checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &:hover .form__checkbox + .form__checkbox-block {
    border-color: @additional-grey-8;
  }

  &--disabled {
    opacity: 0.3;
  }
}

.form__item--checkbox:last-child {
  margin-bottom: 0;
}

.form__checkbox + .form__checkbox-block {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid @additional-grey-3;
}

.form__checkbox:checked + .form__checkbox-block {
  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    background: url("../img/icons/tick-checkbox.svg") no-repeat 50%;
  }
}

.form__label--checkbox {
  padding-left: 46px;
  display: block;
  position: relative;
}

.form__submit-info-block {
  padding: 0 @padding-mobile 18px;
  text-align: center;
}

.form__submit-button {
  padding: 0;
  border: none;
  width: 100%;
  height: 40px;
  margin-bottom: 7px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  .green-button();
}

.form__input,
.form__comment {
  text-transform: uppercase;
  color: @additional-dark-grey;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

.form__radio-block + .form__label {
  color: @additional-darker-grey;
}

.form__checkbox-block + .form__label {
  color: @basic-black;
}

.form__required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .form__label,
  .form__input,
  .form__comment {
    font-size: 20px;
    line-height: 30px;
  }

  .form__basic-info-block {
    padding: 0 @padding-tablet-form;
    margin-bottom: 50px;
  }

  .form__block--cat-info {
    padding: 0;
    border: none;
    padding-top: 45px;
    margin-bottom: 72px;
  }

  .form__item--text-input {
    margin-bottom: 20px;
  }

  .form__label--text-input {
    margin-right: 20px;
  }

  .form__input--text-input {
    height: 52px;
  }

  .form__block--program {
    border: 1px solid @additional-grey-7;
    padding: 30px;
  }

  .form__item--radio {
    margin-bottom: 23px;
  }

  .form__radio + .form__radio-block {
    width: 40px;
    height: 40px;
  }

  .form__radio:checked + .form__radio-block::before {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }

  .form__label--radio {
    padding-left: 60px;
  }

  .form__heading-block::before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: @basic-green;
  }

  .form__heading-block::after,
  .form__heading-block::before {
    margin-top: 20px;
  }

  .form__heading--green-line {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0 40px;
  }

  .form__block--user-info {
    margin-bottom: 65px;
  }

  .form__heading--user-info {
    width: auto;
    margin-bottom: 76px;
  }

  .form__list--user-info {
    padding: 0 @padding-tablet-form;
  }

  .form__heading--comment {
    margin-bottom: 76px;
  }

  .form__comment-block {
    padding: 0 @padding-tablet-form;
    margin-bottom: 62px;
  }

  .form__comment {
    padding-top: 10px;
    padding-left: 19px;
    height: 174px;
  }

  .form__block--extra {
    margin-bottom: 60px;
  }

  .form__heading--extra {
    margin-bottom: 62px;
  }

  .form__list--extra {
    padding: 0 @padding-tablet-form;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form__item--checkbox {
    margin-bottom: 40px;
  }

  .form__checkbox:checked + .form__checkbox-block {
    &::after {
      top: 7px;
      left: 7px;
      width: 26px;
      height: 26px;
      background-size: 26px auto;
    }
  }

  .form__item--checkbox:nth-child(2n - 1) {
    margin-right: 124px;
  }

  .form__item--checkbox:last-child,
  .form__item--checkbox:nth-last-child(2) {
    margin-bottom: 0;
  }

  .form__label--checkbox {
    width: 161px;
    box-sizing: content-box;
    padding-left: 59px;
  }

  .form__checkbox + .form__checkbox-block {
    width: 40px;
    height: 40px;
  }

  .form__submit-info-block {
    padding: 0 @padding-tablet-form;
    display: flex;
    margin-bottom: 72px;
  }

  .form__submit-button {
    width: 282px;
    margin: 0 63px 0 0;
    font-size: 20px;
    line-height: 0px;
    padding: 26px 0;
  }

  .form__required {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form__basic-info-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    padding: 0 @padding-desktop;
    max-width: 1440px;
    margin: 0 auto 69px;
  }

  .form__block--cat-info {
    margin: 0;
  }

  .form__block--program {
    margin: 46px 0 0;
  }

  .form__heading-block {
    position: relative;

    &::before {
      content: none;
    }

    &::after {
      position: absolute;
      top: 2px;
      left: 0;
      width: 100%;
    }
  }

  .form__heading-block-wrapper {
    padding-left: 70px;
    width: 1440px;
    margin: 0 auto;
  }

  .form__heading--green-line {
    padding: 0 40px;
    margin-left: 0;
    margin-right: 0;
    background-color: @basic-white;
    z-index: 1;
    display: inline-block;
  }

  .form__heading-block::after,
  .form__heading-block::before {
    margin-top: 20px;
  }

  .form__block--user-info {
    padding-top: 0;
    margin-bottom: 67px;
  }

  .form__list--user-info {
    padding: 0 @padding-desktop;
    display: flex;
    justify-content: flex-start;
    max-width: 1440px;
    margin: 0 auto;

    .form__item--text-input {
      margin: 0;
      flex-grow: 1;
      width: 50%;
    }

    .form__item--text-input:first-child {
      margin-right: 76px;
    }
  }

  .form__block--comment {
    margin-bottom: 67px;
  }

  .form__comment-block {
    padding: 0 @padding-desktop;
    max-width: 1440px;
    margin: 0 auto;
  }

  .form__block--extra {
    margin-bottom: 63px;
  }

  .form__list--extra {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0 @padding-desktop;
    max-width: 1440px;
    margin: 0 auto;
  }

  .form__item--checkbox {
    margin: 0 105px 0 0;
  }

  .form__item--checkbox:nth-child(2n - 1) {
    margin-right: 105px;
  }

  .form__item--checkbox:last-child {
    margin-right: 0;
  }

  .form__submit-info-block {
    padding: 0 @padding-desktop;
    max-width: 1440px;
    margin: 0 auto 82px;
  }

  .form__submit-button {
    width: 568px;
    margin-right: 80px;
  }
}
