.form {
  color: @additional-dark-grey;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__heading {
  color: @basic-black;
  text-transform: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
}

.form__input,
.form__comment {
  text-transform: uppercase;
  color: @additional-dark-grey;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

.form__radio + .form__label {
  color: @additional-darker-grey;
}

.form__checkbox + .form__label {
  color: @basic-black;
}

.form__submit-button {
  color: @basic-white;
  background-color: @basic-green;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.form__required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .form__list--checkbox-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .form__submit-info-block {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .form__basic-info-block {
    display: flex;
  }

  .form__list--user-info {
    display: flex;
  }

  .form__list--checkbox-list {
    display: flex;
  }
}
