.form-page-main__wrapper {
  padding: 27px @padding-mobile 0;
}

.form-page-main__heading {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 37px;
}

.form-page-main__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
}

@media (min-width: @tablet-width) {
  .form-page-main__wrapper {
    padding: 54px @padding-tablet-form 0;
  }

  .form-page-main__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .form-page-main__text {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
  }
}

@media (min-width: @desktop-width) {
  .form-page-main__wrapper {
    padding: 187px @padding-desktop 0;
    max-width: 1440px;
    margin: 0 auto;
  }
}
