.introducing-block {
  color: @basic-black;
}

.introducing-block__image-block {
  background: @additional-green 50% no-repeat;
  .size(320px; 302px);
  color: @basic-white;
}

.introducing-block__heading {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
}

.introducing-block__subheading {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.introducing-block__program-link {
  font-size: 14px;
  line-height: 18px;
  color: @basic-white;
  background-color: @basic-green;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .introducing-block__image-block {
    background: @basic-white;
    display: flex;
    flex-direction: column;
  }

  .introducing-block__heading,
  .introducing-block__subheading {
    color: @basic-black;
  }

  .introducing-block__heading {
    font-size: 60px;
    line-height: 60px;
  }

  .introducing-block__subheading {
    font-size: 20px;
    line-height: 20px;
  }

  .introducing-block__program-link {
    font-size: 20px;
    line-height: 0px;
  }
}
