.more-products {
  padding-top: 80px;
  border-top: 1px solid @additional-grey-2;
  text-align: center;
}

.more-products__subtitle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @additional-black;
}

.more-products__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @additional-dark-grey;
}

.more-products__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 0px;
  color: @additional-dark-grey;
  background-color: @basic-grey;
  text-transform: uppercase;
  width: 100%;
  min-height: 60px;
  border: none;
  margin-bottom: 25px;
}
