.offer-block__container {
  min-height: 289px;
  text-align: center;
  background-color: @basic-green;
}

.offer-block__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
}
