.page-footer__container {
  display: flex;
  flex-direction: column;
}

.page-footer__bottom-block {
  background-color: @basic-grey;
  padding: 0 @padding-mobile;
  text-align: center;
}

.page-footer__company {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
}

.page-footer__logo {
  margin-top: 5px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__list {
  border-top: 1px solid @additional-grey-5;
  display: flex;
  justify-content: center;
  padding: 20px 80px 15px;
}

.page-footer__social-item:not(:last-child) {
  margin-right: 33px;
}

.page-footer__link {
  display: block;

  .page-footer__icon--need-stroke {
    stroke: @additional-grey-10;
    fill: none;
  }

  &:hover .page-footer__icon--need-stroke {
    stroke: @basic-green;
  }

  .page-footer__icon--need-fill {
    fill: @additional-grey-10;
    stroke: none;
  }

  &:hover .page-footer__icon--need-fill {
    fill: @basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  height: 78px;
  border-top: 1px solid @additional-grey-5;
  padding-top: 15px;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  .page-footer__copyright-icon {
    fill: @additional-grey-10;
  }

  &:hover .page-footer__copyright-icon {
    fill: @basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @additional-dark-grey;
}

@media (min-width: @tablet-width) {
  .page-footer__bottom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 @padding-tablet;
  }

  .page-footer__company {
    margin-right: 28px;
    padding-bottom: 12px;
  }

  .page-footer__list {
    padding: 5px 0 10px;
    justify-content: flex-start;
    align-items: center;
    border: none;
  }

  .page-footer__link {
    &--vkontakte .page-footer__icon {
      width: 30px;
      height: 22px;
    }

    &--instagram .page-footer__icon {
      width: 23px;
      height: 23px;
    }

    &--facebook .page-footer__icon {
      width: 28px;
      height: 33px;
    }
  }

  .page-footer__social-item:not(:last-child) {
    margin-right: 25px;
  }

  .page-footer__copyright {
    border: none;
    padding-top: 10px;
  }

  .page-footer__copyright-text {
    margin-right: 22px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    position: relative;
    background-color: @basic-grey;
  }

  .page-footer__bottom-block {
    padding: 0 @padding-desktop;
    width: 1440px;
    margin: 0 auto;
  }

  .page-footer__list {
    padding-top: 10px;
  }

  .page-footer__copyright {
    padding: 15px 0 0;
  }
}
