.page-footer__container {
  display: flex;
  flex-direction: column;
}

.page-footer__bottom-block {
  background-color: @basic-grey;
  padding: 0 @padding-mobile;
  text-align: center;
}

.page-footer__company {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
}

.page-footer__list {
  height: 63px;
  border-top: 1px solid @additional-grey-5;
}

.page-footer__copyright {
  height: 78px;
  border-top: 1px solid @additional-grey-5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copyright-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @additional-dark-grey;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .page-footer__bottom-block {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    position: relative;
  }
}
