.result-block__results {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.result-block__result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 56px;
  text-align: center;
  border: 1px solid @additional-grey-3;
  border-radius: 3px;
  position: relative;
}

.result-block__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result-block__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  display: block;
  width: 87px;
  min-height: 17px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: @additional-grey;
  position: absolute;
  bottom: -30px;
}

@media (min-width: @tablet-width) {
  .result-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 218px;
  }

  .result-block__result {
    width: 162px;
    height: 72px;
  }

  .result-block__result--kilograms {
    margin-right: 42px;
  }

  .result-block__value {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 5px;
  }

  .result-block__text {
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;
    width: auto;
    bottom: -22px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: @desktop-width) {
  .result-block {
    padding: 0;
    display: block;
  }

  .result-block__results {
    justify-content: flex-start;
    margin-bottom: 60px;
  }

  .result-block__text {
    background-color: @basic-grey;
  }
}
