.example-block {
  background-color: @additional-grey;
}

.example-block__heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
}

.example-block__text {
  font-family: "Arial", sans-serif;
  color: @additional-dark-grey;
  font-size: 14px;
  line-height: 18px;
}

.example-block__expenses {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example-block__before,
.example-block__after {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
